foundation_framework/pl_extract_oracle.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Copy Oracle data",
        "description": "Copies data from ORACLE server",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "Set sql_query",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Write row count to audit table",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "OracleSource",
            "oracleReaderQuery": {
              "value": "@variables('sql_query')",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "annotations": [],
              "type": "OracleTable",
              "schema": [],
              "typeProperties": {},
              "externalReferences": {
                "connection": "@json(string(pipeline().parameters.source_connection_settings)).oracle_connection_id "
              }
            }
          },
          "sink": {
            "type": "ParquetSink",
            "storeSettings": {
              "type": "AzureBlobStorageWriteSettings"
            },
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "datasetSettings": {
              "annotations": [],
              "connectionSettings": {
                "name": "ad66eece_29d9_4cbc_bffc_1ba428e4c7c7",
                "properties": {
                  "annotations": [],
                  "type": "Lakehouse",
                  "typeProperties": {
                    "workspaceId": "@pipeline().libraryVariables.vl_guids_bronze_workspace_id",
                    "artifactId": "@pipeline().libraryVariables.vl_guids_bronze_lakehouse_id",
                    "rootFolder": "Files"
                  },
                  "externalReferences": {
                    "connection": "@pipeline().libraryVariables.vl_guids_lakehouse_connection_id"
                  }
                }
              },
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "fileName": {
                    "value": "@concat(json(string(pipeline().parameters.target_settings)).target_file_name,'.parquet')",
                    "type": "Expression"
                  },
                  "folderPath": {
                    "value": "@concat(\n    'incoming/',\n    json(string(pipeline().parameters.target_settings)).target_file_path,\n    '/',\n    formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd'),\n    '/lineage_id=',\n    pipeline().parameters.lineage_id\n\n)",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": []
            }
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        }
      },
      {
        "name": "Cast NUMBER data types",
        "description": "Creates the SELECT string body, taking into account the conversion of NUMBER columns ",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "Check if incremental loading is required",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.00:30:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "OracleSource",
            "oracleReaderQuery": {
              "value": "@concat('SELECT RTRIM(XMLAGG(XMLELEMENT(E,CASE WHEN DATA_TYPE IN (''NUMBER'',''FLOAT'') AND (CAST (DATA_SCALE AS NUMBER(5,0)) >= CAST (DATA_PRECISION AS NUMBER(5,0)) OR DATA_SCALE IS NULL OR DATA_PRECISION IS NULL) THEN ''CAST('' || COLUMN_NAME || '' AS NUMBER(38,18)) AS '' || COLUMN_NAME ELSE COLUMN_NAME END,'', '').EXTRACT(''//text()'') ORDER BY COLUMN_NAME).GetClobVal(),'', '') AS query_string\n FROM ALL_TAB_COLUMNS\n WHERE TABLE_NAME = ''',  json(string(pipeline().parameters.source_settings)).table_name, '''\n AND OWNER = ''',  json(string(pipeline().parameters.source_settings)).schema_name, '''')",
              "type": "Expression"
            },
            "partitionOption": "None",
            "numberPrecision": 38,
            "numberScale": 18,
            "queryTimeout": "02:00:00"
          },
          "firstRowOnly": true,
          "datasetSettings": {
            "annotations": [],
            "type": "OracleTable",
            "schema": [],
            "typeProperties": {},
            "externalReferences": {
              "connection": "@json(string(pipeline().parameters.source_connection_settings)).oracle_connection_id"
            }
          }
        }
      },
      {
        "name": "Set sql_query",
        "description": "Uses output of previous activities to concatenate a SELECT + column list + WHERE clause",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Cast NUMBER data types",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "sql_query",
          "value": {
            "value": "@concat(\n    concat(\n        concat(\n            concat(\n                concat(\n                    concat(\n                        concat(\n                            concat(\n                                if(\n                                    pipeline().parameters.limit_rows_for_debugging, \n                                    'SELECT TOP 1000 ', 'SELECT '),\n                                    activity('Cast NUMBER data types').output.firstrow.QUERY_STRING\n                        ),\n                        ' FROM '\n                    ),\n                    json(string(pipeline().parameters.source_settings)).schema_name\n                    )\n                ),\n                '.'),\n            json(string(pipeline().parameters.source_settings)).table_name\n        ),\n    ' WHERE 1=1 '\n    ),\n    if(\n        equals(json(string(pipeline().parameters.source_settings)).is_incremental, 1),\n        concat(' and ', variables('sql_where_predicate')),\n        ''\n    )\n)\n",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Check if incremental loading is required",
        "description": "Check if incremental load is required. If so, create the WHERE clause required for watermarking. If not, simply do a full load which does not need a WHERE clause",
        "type": "IfCondition",
        "dependsOn": [],
        "typeProperties": {
          "expression": {
            "value": "@if(equals(json(string(pipeline().parameters.source_settings)).is_incremental, 1),true,false)",
            "type": "Expression"
          },
          "ifFalseActivities": [
            {
              "name": "Set sql_where_predicate with NULL",
              "description": "When full load is required, set the WHERE clause to an empty string",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "sql_where_predicate",
                "value": {
                  "value": "@string('')",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Set row_count_sql_where_predicate with NULL",
              "description": "When full load is required, set the WHERE clause to an empty string",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "row_count_sql_where_predicate",
                "value": {
                  "value": "@string('')",
                  "type": "Expression"
                }
              }
            }
          ],
          "ifTrueActivities": [
            {
              "name": "usp_get_previous_watermark_val",
              "description": "Retrieves previous watermark value from the logging.execution_watermark table",
              "type": "Lookup",
              "dependsOn": [],
              "policy": {
                "timeout": "0.00:10:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "source": {
                  "type": "FabricSqlDatabaseSource",
                  "sqlReaderStoredProcedureName": "[integration].[usp_get_previous_watermark_val]",
                  "storedProcedureParameters": {
                    "task_id": {
                      "type": "Int16",
                      "value": {
                        "value": "@pipeline().parameters.task_id",
                        "type": "Expression"
                      }
                    },
                    "incremental_col_data_type": {
                      "type": "String",
                      "value": {
                        "value": "@json(string(pipeline().parameters.source_settings)).incremental_col_data_type",
                        "type": "Expression"
                      }
                    }
                  },
                  "queryTimeout": "02:00:00",
                  "partitionOption": "None"
                },
                "datasetSettings": {
                  "annotations": [],
                  "connectionSettings": {
                    "name": "f3884614_9958_4f5f_8d5e_2caf5976f54b",
                    "properties": {
                      "annotations": [],
                      "type": "FabricSqlDatabase",
                      "typeProperties": {
                        "workspaceId": "@pipeline().DataFactory",
                        "artifactId": "@pipeline().libraryVariables.vl_guids_metadata_control_db_id"
                      },
                      "externalReferences": {
                        "connection": "@pipeline().libraryVariables.vl_guids_metadata_control_db_connection_id"
                      }
                    }
                  },
                  "type": "FabricSqlDatabaseTable",
                  "schema": [],
                  "typeProperties": {}
                }
              }
            },
            {
              "name": "Get current watermark from source",
              "description": "Queries MAX(incremental column) in the source table to get the current watermark value",
              "type": "Lookup",
              "dependsOn": [],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "source": {
                  "type": "OracleSource",
                  "oracleReaderQuery": {
                    "value": "@concat(concat(concat(concat(concat(\n    'SELECT MAX(' , json(string(pipeline().parameters.source_settings)).incremental_column\n    ), ') as current_watermark_val FROM '), \n    json(string(pipeline().parameters.source_settings)).schema_name)\n    ,'.')\n    ,json(string(pipeline().parameters.source_settings)).table_name\n)",
                    "type": "Expression"
                  },
                  "partitionOption": "None",
                  "numberPrecision": 38,
                  "numberScale": 18,
                  "queryTimeout": "02:00:00"
                },
                "firstRowOnly": true,
                "datasetSettings": {
                  "annotations": [],
                  "type": "OracleTable",
                  "schema": [],
                  "typeProperties": {},
                  "externalReferences": {
                    "connection": "@json(string(pipeline().parameters.source_connection_settings)).oracle_connection_id"
                  }
                }
              }
            },
            {
              "name": "Switch based on incremental date column type",
              "description": "2 incremental data types are allowed: int or datetime. Create the WHERE clause based on the data type, because a datetime type needs string manipulation via TO_TIMESTAMP",
              "type": "Switch",
              "dependsOn": [
                {
                  "activity": "Get current watermark from source",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                },
                {
                  "activity": "usp_get_previous_watermark_val",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "on": {
                  "value": "@json(string(pipeline().parameters.source_settings)).incremental_col_data_type",
                  "type": "Expression"
                },
                "cases": [
                  {
                    "value": "datetime",
                    "activities": [
                      {
                        "name": "Set sql_date_predicate",
                        "description": "Sets value of WHERE clause using date string manipulation",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "policy": {
                          "secureOutput": false,
                          "secureInput": false
                        },
                        "typeProperties": {
                          "variableName": "sql_where_predicate",
                          "value": {
                            "value": "@if(\n    equals(json(string(pipeline().parameters.source_settings)).is_incremental, 1),\n    concat(concat(concat(concat('(', concat(\n        json(string(pipeline().parameters.source_settings)).incremental_column,\n        ' > TO_TIMESTAMP(''',\n        formatDateTime(activity('usp_get_previous_watermark_val').output.firstRow.previous_watermark_val, 'yyyy-MM-dd HH:mm:ss.fff'),\n        ''', ''YYYY-MM-DD HH24:MI:SS.FF'') and ',\n        json(string(pipeline().parameters.source_settings)).incremental_column,\n        ' <= TO_TIMESTAMP(''',\n        formatDateTime(activity('Get current watermark from source').output.firstRow.current_watermark_val, 'yyyy-MM-dd HH:mm:ss.fff'),\n        ''', ''YYYY-MM-DD HH24:MI:SS.FF'')'\n    )), ') OR (')\n    , json(string(pipeline().parameters.source_settings)).incremental_column),\n    ' IS NULL)'\n    ),\n    null\n)",
                            "type": "Expression"
                          }
                        }
                      },
                      {
                        "name": "Set row_count_sql_date_predicate",
                        "description": "Sets value of WHERE clause using date string manipulation",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "policy": {
                          "secureOutput": false,
                          "secureInput": false
                        },
                        "typeProperties": {
                          "variableName": "row_count_sql_where_predicate",
                          "value": {
                            "value": "@if(\n    equals(json(string(pipeline().parameters.source_settings)).is_incremental, 1),\n    concat(\n        '(('\n        , json(string(pipeline().parameters.source_settings)).incremental_column,\n        ' <= TO_TIMESTAMP(''',\n        formatDateTime(activity('Get current watermark from source').output.firstRow.current_watermark_val, 'yyyy-MM-dd HH:mm:ss.fff'),\n        ''', ''YYYY-MM-DD HH24:MI:SS.FF'')'\n        ,') OR ('\n        , json(string(pipeline().parameters.source_settings)).incremental_column\n        , ' IS NULL))'\n    )\n    ,\n    null\n)",
                            "type": "Expression"
                          }
                        }
                      }
                    ]
                  },
                  {
                    "value": "int",
                    "activities": [
                      {
                        "name": "Set sql_where_predicate INT",
                        "description": "Sets WHERE clause using standard INT value",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "policy": {
                          "secureOutput": false,
                          "secureInput": false
                        },
                        "typeProperties": {
                          "variableName": "sql_where_predicate",
                          "value": {
                            "value": "@if(\n    equals(json(string(pipeline().parameters.source_settings)).is_incremental, 1),\n    concat(\n        json(string(pipeline().parameters.source_settings)).incremental_column,\n        ' > ',\n        activity('usp_get_previous_watermark_val').output.firstRow.previous_watermark_val,\n        ' and ',\n        json(string(pipeline().parameters.source_settings)).incremental_column,\n        ' <= ',\n        activity('Get current watermark from source').output.firstRow.current_watermark_val\n    ),\n    null\n)",
                            "type": "Expression"
                          }
                        }
                      },
                      {
                        "name": "Set sql_where_predicate INT_copy1",
                        "description": "Sets WHERE clause using standard INT value",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "policy": {
                          "secureOutput": false,
                          "secureInput": false
                        },
                        "typeProperties": {
                          "variableName": "row_count_sql_where_predicate",
                          "value": {
                            "value": "@if(\n    equals(json(string(pipeline().parameters.source_settings)).is_incremental, 1),\n    concat(\n        json(string(pipeline().parameters.source_settings)).incremental_column,\n        ' <= ',\n        activity('Get current watermark from source').output.firstRow.current_watermark_val\n    ),\n    null\n)",
                            "type": "Expression"
                          }
                        }
                      }
                    ]
                  }
                ],
                "defaultActivities": []
              }
            }
          ]
        }
      },
      {
        "name": "usp_set_log_data",
        "description": "Updates the log_data field in the logging.task_executions table",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "Copy Oracle data",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[logging].[usp_set_log_data]",
          "storedProcedureParameters": {
            "task_executions_id": {
              "value": {
                "value": "@pipeline().parameters.task_executions_id",
                "type": "Expression"
              },
              "type": "String"
            },
            "log_data_string": {
              "value": {
                "value": "@string(pipeline().parameters.source_settings)",
                "type": "Expression"
              },
              "type": "String"
            }
          }
        },
        "connectionSettings": {
          "name": "ba00d371_4baa_45b1_b442_15d7a8507df9",
          "properties": {
            "annotations": [],
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "workspaceId": "@pipeline().DataFactory",
              "artifactId": "@pipeline().libraryVariables.vl_guids_metadata_control_db_id"
            },
            "externalReferences": {
              "connection": "@pipeline().libraryVariables.vl_guids_metadata_control_db_connection_id"
            }
          }
        }
      },
      {
        "name": "Check if incremental loading is required for logging",
        "description": "Only if an incremental load is required do we need to go back and update the watermark table.",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Copy Oracle data",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "expression": {
            "value": "@if(equals(json(string(pipeline().parameters.source_settings)).is_incremental, 1),true,false)",
            "type": "Expression"
          },
          "ifFalseActivities": [],
          "ifTrueActivities": [
            {
              "name": "usp_update_watermark_val",
              "description": "Updates the watermark value from the logging.execution_watermark table for the next execution",
              "type": "SqlServerStoredProcedure",
              "dependsOn": [],
              "policy": {
                "timeout": "0.00:10:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "storedProcedureName": "[logging].[usp_update_watermark_val]",
                "storedProcedureParameters": {
                  "task_id": {
                    "value": {
                      "value": "@pipeline().parameters.task_id",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "source_table": {
                    "value": {
                      "value": "@json(string(pipeline().parameters.source_settings)).table_name",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "incremental_column": {
                    "value": {
                      "value": "@json(string(pipeline().parameters.source_settings)).incremental_column",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "watermark_value": {
                    "value": {
                      "value": "@activity('Get current watermark from source').output.firstRow.current_watermark_val",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "parent_run_id": {
                    "value": {
                      "value": "@pipeline().parameters.parent_run_id",
                      "type": "Expression"
                    },
                    "type": "String"
                  }
                }
              },
              "connectionSettings": {
                "name": "ba00d371_4baa_45b1_b442_15d7a8507df9",
                "properties": {
                  "annotations": [],
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "workspaceId": "@pipeline().DataFactory",
                    "artifactId": "@pipeline().libraryVariables.vl_guids_metadata_control_db_id"
                  },
                  "externalReferences": {
                    "connection": "@pipeline().libraryVariables.vl_guids_metadata_control_db_connection_id"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "Get row count from source",
        "description": "Get the row count value from source for auditing",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "Check if incremental loading is required",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.00:30:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "OracleSource",
            "oracleReaderQuery": {
              "value": "@concat(\n    'SELECT COUNT(*) as source_row_count FROM '\n    ,json(string(pipeline().parameters.source_settings)).schema_name\n    ,'.'\n    , json(string(pipeline().parameters.source_settings)).table_name,\n    ' WHERE 1=1 ',\n    if(\n        equals(json(string(pipeline().parameters.source_settings)).is_incremental, 1),\n        concat(' and ', variables('row_count_sql_where_predicate')),\n        ''\n    )\n)",
              "type": "Expression"
            },
            "partitionOption": "None",
            "numberPrecision": 38,
            "numberScale": 18,
            "queryTimeout": "02:00:00"
          },
          "firstRowOnly": true,
          "datasetSettings": {
            "annotations": [],
            "type": "OracleTable",
            "schema": [],
            "typeProperties": {},
            "externalReferences": {
              "connection": "@json(string(pipeline().parameters.source_connection_settings)).oracle_connection_id"
            }
          }
        }
      },
      {
        "name": "Write row count to audit table",
        "description": "Inserts row counts from source into logging.row_count_audit table",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "Get row count from source",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[logging].[usp_log_insert_row_count_audit]",
          "storedProcedureParameters": {
            "task_id": {
              "value": {
                "value": "@pipeline().parameters.task_id",
                "type": "Expression"
              },
              "type": "Int16"
            },
            "source_system": {
              "value": "oracle",
              "type": "String"
            },
            "source_table_name": {
              "value": {
                "value": "@concat(json(string(pipeline().parameters.source_settings)).schema_name,'.', json(string(pipeline().parameters.source_settings)).table_name)",
                "type": "Expression"
              },
              "type": "String"
            },
            "source_row_count": {
              "value": {
                "value": "@activity('Get row count from source').output.firstRow.SOURCE_ROW_COUNT",
                "type": "Expression"
              },
              "type": "Double"
            },
            "is_incremental": {
              "value": {
                "value": "@json(string(pipeline().parameters.source_settings)).is_incremental",
                "type": "Expression"
              },
              "type": "Int16"
            },
            "parent_run_id": {
              "value": {
                "value": "@pipeline().parameters.parent_run_id",
                "type": "Expression"
              },
              "type": "Guid"
            }
          }
        },
        "connectionSettings": {
          "name": "4ef71aaf_01be_417e_8c00_b511626fb99a",
          "properties": {
            "annotations": [],
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "workspaceId": "@pipeline().DataFactory",
              "artifactId": "@pipeline().libraryVariables.vl_guids_metadata_control_db_id"
            },
            "externalReferences": {
              "connection": "@pipeline().libraryVariables.vl_guids_metadata_control_db_connection_id"
            }
          }
        }
      }
    ],
    "parameters": {
      "source_settings": {
        "type": "string"
      },
      "source_connection_settings": {
        "type": "string"
      },
      "target_settings": {
        "type": "string"
      },
      "lineage_id": {
        "type": "string"
      },
      "current_watermark_datetime": {
        "type": "string"
      },
      "task_id": {
        "type": "string"
      },
      "limit_rows_for_debugging": {
        "type": "bool"
      },
      "task_executions_id": {
        "type": "string"
      },
      "parent_run_id": {
        "type": "string"
      }
    },
    "variables": {
      "sql_where_predicate": {
        "type": "String"
      },
      "sql_query": {
        "type": "String"
      },
      "row_count_sql_where_predicate": {
        "type": "String"
      }
    },
    "libraryVariables": {
      "vl_guids_bronze_workspace_id": {
        "type": "String",
        "variableName": "bronze_workspace_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_bronze_lakehouse_id": {
        "type": "String",
        "variableName": "bronze_lakehouse_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_metadata_control_db_connection_id": {
        "type": "String",
        "variableName": "metadata_control_db_connection_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_metadata_control_db_database": {
        "type": "String",
        "variableName": "metadata_control_db_database",
        "libraryName": "vl_guids"
      },
      "vl_guids_metadata_control_db_id": {
        "type": "String",
        "variableName": "metadata_control_db_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_lakehouse_connection_id": {
        "type": "String",
        "variableName": "lakehouse_connection_id",
        "libraryName": "vl_guids"
      }
    }
  }
}