foundation_framework/pl_worker.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Switch",
        "typeProperties": {
          "on": {
            "value": "@json(string(pipeline().parameters.template_settings)).template_type",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "DataPipeline",
              "activities": [
                {
                  "type": "InvokePipeline",
                  "typeProperties": {
                    "parameters": {
                      "source_settings": {
                        "value": "@pipeline().parameters.source_settings",
                        "type": "Expression"
                      },
                      "target_settings": {
                        "value": "@pipeline().parameters.target_settings",
                        "type": "Expression"
                      },
                      "source_connection_settings": {
                        "value": "@pipeline().parameters.source_connection_settings",
                        "type": "Expression"
                      },
                      "lineage_id": {
                        "value": "@pipeline().parameters.lineage_id",
                        "type": "Expression"
                      },
                      "current_watermark_datetime": {
                        "value": "@pipeline().parameters.current_watermark_datetime",
                        "type": "Expression"
                      },
                      "task_id": {
                        "value": "@pipeline().parameters.task_id",
                        "type": "Expression"
                      },
                      "limit_rows_for_debugging": {
                        "value": "@pipeline().parameters.limit_rows_for_debugging",
                        "type": "Expression"
                      },
                      "task_executions_id": {
                        "value": "@pipeline().parameters.task_executions_id",
                        "type": "Expression"
                      },
                      "parent_run_id": {
                        "value": "@pipeline().parameters.parent_run_id",
                        "type": "Expression"
                      }
                    },
                    "waitOnCompletion": true,
                    "workspaceId": {
                      "value": "@pipeline().libraryVariables.vl_guids_template_workspace_id",
                      "type": "Expression"
                    },
                    "pipelineId": {
                      "value": "@json(activity('nb_get_environment_detail').output.result.exitValue).template_id",
                      "type": "Expression"
                    },
                    "operationType": "InvokeFabricPipeline"
                  },
                  "externalReferences": {
                    "connection": "@pipeline().libraryVariables.vl_guids_fabric_pipeline_connection_id"
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "DataPipeline",
                  "description": "Execute a Fabric DataPipeline",
                  "dependsOn": []
                }
              ]
            },
            {
              "value": "Notebook",
              "activities": [
                {
                  "type": "TridentNotebook",
                  "typeProperties": {
                    "notebookId": {
                      "value": "@json(activity('nb_get_environment_detail').output.result.exitValue).template_id",
                      "type": "Expression"
                    },
                    "workspaceId": {
                      "value": "@pipeline().libraryVariables.vl_guids_template_workspace_id",
                      "type": "Expression"
                    },
                    "parameters": {
                      "source_settings": {
                        "value": {
                          "value": "@pipeline().parameters.source_settings",
                          "type": "Expression"
                        },
                        "type": "string"
                      },
                      "target_settings": {
                        "value": {
                          "value": "@pipeline().parameters.target_settings",
                          "type": "Expression"
                        },
                        "type": "string"
                      },
                      "source_connection_settings": {
                        "value": {
                          "value": "@pipeline().parameters.source_connection_settings",
                          "type": "Expression"
                        },
                        "type": "string"
                      },
                      "lineage_id": {
                        "value": {
                          "value": "@pipeline().parameters.lineage_id",
                          "type": "Expression"
                        },
                        "type": "string"
                      },
                      "task_executions_id": {
                        "value": {
                          "value": "@pipeline().parameters.task_executions_id",
                          "type": "Expression"
                        },
                        "type": "string"
                      },
                      "task_id": {
                        "value": {
                          "value": "@int(pipeline().parameters.task_id)",
                          "type": "Expression"
                        },
                        "type": "int"
                      },
                      "parent_run_id": {
                        "value": {
                          "value": "@pipeline().parameters.parent_run_id",
                          "type": "Expression"
                        },
                        "type": "string"
                      }
                    }
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Notebook",
                  "description": "Execute a Fabric Notebook",
                  "dependsOn": []
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "type": "Fail",
              "typeProperties": {
                "message": "Template type not supported",
                "errorCode": "400"
              },
              "name": "Fail1",
              "description": "Raise a failure if the template_settings are not set to DataPipeline or Notebook",
              "dependsOn": []
            }
          ]
        },
        "name": "Select correct template",
        "description": "Select the correct activity to run: A DataPipeline or Notebook",
        "dependsOn": [
          {
            "activity": "nb_get_environment_detail",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "usp_log_task_execution",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[logging].[usp_log_task_execution_completion]",
          "storedProcedureParameters": {
            "task_executions_id": {
              "value": {
                "value": "@pipeline().parameters.task_executions_id",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "status": {
              "value": {
                "value": "Completed",
                "type": "Expression"
              },
              "type": "String"
            },
            "next_stage_status": {
              "value": "Ready",
              "type": "String"
            }
          }
        },
        "connectionSettings": {
          "name": "88c1bb37_dbe2_4736_b6af_5020be317e31",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "@pipeline().libraryVariables.vl_guids_metadata_control_db_id",
              "workspaceId": "@pipeline().DataFactory"
            },
            "externalReferences": {
              "connection": "@pipeline().libraryVariables.vl_guids_metadata_control_db_connection_id"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "usp_log_task_execution_completion - Completed",
        "description": "Update log for the execution with a 'Complete' status",
        "dependsOn": [
          {
            "activity": "Select correct template",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[logging].[usp_log_task_execution_completion]",
          "storedProcedureParameters": {
            "task_executions_id": {
              "value": {
                "value": "@pipeline().parameters.task_executions_id",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "status": {
              "value": {
                "value": "Failed",
                "type": "Expression"
              },
              "type": "String"
            },
            "next_stage_status": {
              "value": "N/A",
              "type": "String"
            }
          }
        },
        "connectionSettings": {
          "name": "d405fe46_a5bb_4364_9dec_c84c6c58e1df",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "@pipeline().libraryVariables.vl_guids_metadata_control_db_id",
              "workspaceId": "@pipeline().DataFactory"
            },
            "externalReferences": {
              "connection": "@pipeline().libraryVariables.vl_guids_metadata_control_db_connection_id"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "usp_log_task_execution_completion - Failed",
        "description": "Update log for the execution with a 'Failure' status",
        "dependsOn": [
          {
            "activity": "Select correct template",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "bf6eb2c9-d262-b570-4f28-8e3c112ab83f",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "template_name": {
              "value": {
                "value": "@json(string(pipeline().parameters.template_settings)).template_name",
                "type": "Expression"
              },
              "type": "string"
            },
            "template_workspace_id": {
              "value": {
                "value": "@pipeline().libraryVariables.vl_guids_template_workspace_id",
                "type": "Expression"
              },
              "type": "string"
            }
          },
          "sessionTag": {
            "value": "@pipeline().parameters.session_tag",
            "type": "Expression"
          }
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "nb_get_environment_detail",
        "description": "Retrieves environment details necessary for execution (template id of child pipeline to run)",
        "dependsOn": []
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[logging].[usp_log_task_execution]",
          "storedProcedureParameters": {
            "run_id": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "task_id": {
              "value": {
                "value": "@pipeline().parameters.task_id",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "workspace_id": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "executing_object_id": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "executing_object_name": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "executing_object_run_id": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "executing_object_type": {
              "value": "Pipeline",
              "type": "String"
            },
            "parent_run_id": {
              "value": {
                "value": "@pipeline().parameters.parent_run_id",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "lineage_id": {
              "value": {
                "value": "@pipeline().parameters.lineage_id",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "task_executions_id": {
              "value": {
                "value": "@pipeline().parameters.task_executions_id",
                "type": "Expression"
              },
              "type": "Guid"
            }
          }
        },
        "connectionSettings": {
          "name": "5fd505b0_ce1a_44c9_a608_2763d14330c8",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "@pipeline().libraryVariables.vl_guids_metadata_control_db_id",
              "workspaceId": "@pipeline().DataFactory"
            },
            "externalReferences": {
              "connection": "@pipeline().libraryVariables.vl_guids_metadata_control_db_connection_id"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "usp_log_task_execution",
        "description": "Insert log into in the logging.task_execution table ",
        "dependsOn": []
      },
      {
        "type": "InvokePipeline",
        "typeProperties": {
          "parameters": {
            "email_address": {
              "value": "@pipeline().parameters.users_to_notify",
              "type": "Expression"
            },
            "email_subject": {
              "value": "@concat(\n    'Metadata Ingestion Framework: Extraction of ',\n    pipeline().parameters.task_name,\n    ' failed.'\n)",
              "type": "Expression"
            },
            "email_body": {
              "value": "Click the URL below to see execution failure details:",
              "type": "Expression"
            },
            "execution_url": {
              "value": "@concat(\n    'https://app.powerbi.com/workloads/data-pipeline/monitoring/workspaces/',\n    pipeline().DataFactory,\n    '/pipelines/',\n    pipeline().PipelineName,\n    '/',\n    pipeline().RunId\n)",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true,
          "workspaceId": {
            "value": "@pipeline().DataFactory",
            "type": "Expression"
          },
          "pipelineId": {
            "value": "@pipeline().libraryVariables.vl_guids_pl_send_email_id",
            "type": "Expression"
          },
          "operationType": "InvokeFabricPipeline"
        },
        "externalReferences": {
          "connection": "@pipeline().libraryVariables.vl_guids_fabric_pipeline_connection_id"
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "pl_send_email",
        "description": "Send an outgoing email to notify of failure",
        "dependsOn": [
          {
            "activity": "usp_log_task_execution_completion - Failed",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "task_id": {
        "type": "int"
      },
      "source_connection_settings": {
        "type": "string"
      },
      "source_settings": {
        "type": "string"
      },
      "target_settings": {
        "type": "string"
      },
      "template_settings": {
        "type": "string"
      },
      "lineage_id": {
        "type": "string"
      },
      "current_watermark_datetime": {
        "type": "string"
      },
      "limit_rows_for_debugging": {
        "type": "bool"
      },
      "session_tag": {
        "type": "string"
      },
      "parent_run_id": {
        "type": "string"
      },
      "task_executions_id": {
        "type": "string"
      },
      "task_name": {
        "type": "string"
      },
      "users_to_notify": {
        "type": "string"
      }
    },
    "libraryVariables": {
      "vl_guids_metadata_control_db_connection_id": {
        "type": "String",
        "variableName": "metadata_control_db_connection_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_metadata_control_db_database": {
        "type": "String",
        "variableName": "metadata_control_db_database",
        "libraryName": "vl_guids"
      },
      "vl_guids_template_workspace_id": {
        "type": "String",
        "variableName": "template_workspace_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_metadata_control_db_id": {
        "type": "String",
        "variableName": "metadata_control_db_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_fabric_pipeline_connection_id": {
        "type": "String",
        "variableName": "fabric_pipeline_connection_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_pl_send_email_id": {
        "type": "String",
        "variableName": "pl_send_email_id",
        "libraryName": "vl_guids"
      }
    }
  }
}