to_vdi/pl_stage_executor.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Loop through tasks and call worker pipeline",
        "description": "Given the output of the Lookup, loop through all metadata and execute all Extract stage tasks",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "Get metadata for tasks in stage",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('Get metadata for tasks in stage').output.value",
            "type": "Expression"
          },
          "batchCount": 10,
          "activities": [
            {
              "name": "pl_worker",
              "description": "Execute the pl_worker pipeline for each task",
              "type": "InvokePipeline",
              "dependsOn": [],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "waitOnCompletion": true,
                "operationType": "InvokeFabricPipeline",
                "pipelineId": {
                  "value": "@pipeline().libraryVariables.vl_guids_pl_worker_id",
                  "type": "Expression"
                },
                "workspaceId": {
                  "value": "@pipeline().DataFactory",
                  "type": "Expression"
                },
                "parameters": {
                  "task_id": {
                    "value": "@item().task_id",
                    "type": "Expression"
                  },
                  "source_connection_settings": {
                    "value": "@item().source_connection_settings",
                    "type": "Expression"
                  },
                  "source_settings": {
                    "value": "@item().source_settings",
                    "type": "Expression"
                  },
                  "target_settings": {
                    "value": "@item().target_settings",
                    "type": "Expression"
                  },
                  "template_settings": {
                    "value": "@item().template_settings",
                    "type": "Expression"
                  },
                  "lineage_id": {
                    "value": "@item().lineage_id",
                    "type": "Expression"
                  },
                  "current_watermark_datetime": {
                    "value": "@pipeline().parameters.current_watermark_datetime",
                    "type": "Expression"
                  },
                  "limit_rows_for_debugging": {
                    "value": "@pipeline().parameters.limit_rows_for_debugging",
                    "type": "Expression"
                  },
                  "session_tag": {
                    "value": "orchestration",
                    "type": "Expression"
                  },
                  "parent_run_id": {
                    "value": "@pipeline().parameters.parent_run_id",
                    "type": "Expression"
                  },
                  "task_executions_id": {
                    "value": "@item().task_executions_id",
                    "type": "Expression"
                  },
                  "task_name": {
                    "value": "@item().task_name",
                    "type": "Expression"
                  },
                  "users_to_notify": {
                    "value": "@pipeline().parameters.users_to_notify",
                    "type": "Expression"
                  },
                  "option_settings": {
                    "value": "@item().option_settings",
                    "type": "Expression"
                  },
                  "data_product_name": {
                    "value": "@item().data_product_name",
                    "type": "Expression"
                  }
                }
              },
              "externalReferences": {
                "connection": "@pipeline().libraryVariables.vl_guids_fabric_pipeline_connection_id"
              }
            }
          ]
        }
      },
      {
        "name": "Get metadata for tasks in stage",
        "description": "",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderQuery": {
              "value": "@concat(\n'WITH tasks_in_stage AS (\n    SELECT\n        t.task_id,\n        t.task_name,\n        t.object_name,\n        t.stage,\n        t.source_connection_id,\n        c.uses_fabric_connection AS source_uses_fabric_connection,\n        c.connection_settings AS source_connection_settings,\n        t.source_settings,\n        t.target_settings,\n        t.option_settings,\n        t.template_settings,\n        dp.data_product_name\n    FROM meta.task t\n    LEFT JOIN meta.connections c\n        ON t.source_connection_id = c.connection_id\n    LEFT JOIN meta.data_products dp \n        ON dp.data_product_id = t.data_product_id\n    WHERE t.enabled=1 AND t.task_id IN (',pipeline().parameters.tasks_to_execute,')\n),\nlatest_execution AS (\n    SELECT task_id, object_name, stage, status, parent_run_id, start_datetime\n    FROM (\n        SELECT task_id, status, stage, object_name, start_datetime, parent_run_id,\n        ROW_NUMBER() OVER (PARTITION BY task_id ORDER BY start_datetime DESC) AS row_num\n        FROM logging.task_executions\n        WHERE parent_run_id = ''',pipeline().parameters.parent_run_id,'''\n    ) AS subquery\n    WHERE row_num = 1\n),\nnot_blocked AS (\n    SELECT ct.*\n    FROM tasks_in_stage ct\n    WHERE NOT EXISTS (\n        SELECT 1\n        FROM latest_execution te_prev\n        INNER JOIN meta.task t_prev\n            ON t_prev.task_id = te_prev.task_id\n        WHERE te_prev.parent_run_id = ''',pipeline().parameters.parent_run_id,'''\n          AND te_prev.status = ''Failed''\n          AND t_prev.object_name = ct.object_name\n          AND t_prev.stage < ct.stage\n    )\n)\nSELECT\n    NEWID() AS task_executions_id,\n    NEWID() AS lineage_id,\n    nb.task_id,\n    nb.task_name,\n    nb.object_name,\n    nb.stage,\n    nb.source_connection_id,\n    nb.source_uses_fabric_connection,\n    nb.source_connection_settings,\n    nb.source_settings,\n    nb.target_settings,\n    nb.option_settings,\n    nb.template_settings,\n    nb.data_product_name\nFROM not_blocked nb;'\n)",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "firstRowOnly": false,
          "datasetSettings": {
            "annotations": [],
            "connectionSettings": {
              "name": "a5d4775a_e5a2_43a3_bce0_22a7f9df5298",
              "properties": {
                "annotations": [],
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "workspaceId": "@pipeline().DataFactory",
                  "artifactId": "@pipeline().libraryVariables.vl_guids_metadata_control_db_id"
                },
                "externalReferences": {
                  "connection": "@pipeline().libraryVariables.vl_guids_metadata_control_db_connection_id"
                }
              }
            },
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "typeProperties": {}
          }
        }
      }
    ],
    "parameters": {
      "limit_rows_for_debugging": {
        "type": "bool",
        "defaultValue": false
      },
      "users_to_notify": {
        "type": "string"
      },
      "tasks_to_execute": {
        "type": "string"
      },
      "stage": {
        "type": "string"
      },
      "current_watermark_datetime": {
        "type": "string"
      },
      "parent_run_id": {
        "type": "string"
      }
    },
    "libraryVariables": {
      "vl_guids_metadata_control_db_database": {
        "type": "String",
        "variableName": "metadata_control_db_database",
        "libraryName": "vl_guids"
      },
      "vl_guids_metadata_control_db_server": {
        "type": "String",
        "variableName": "metadata_control_db_server",
        "libraryName": "vl_guids"
      },
      "vl_guids_metadata_control_db_id": {
        "type": "String",
        "variableName": "metadata_control_db_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_bronze_workspace_id": {
        "type": "String",
        "variableName": "bronze_workspace_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_metadata_control_db_connection_id": {
        "type": "String",
        "variableName": "metadata_control_db_connection_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_fabric_sql_database_connection_id": {
        "type": "String",
        "variableName": "fabric_sql_database_connection_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_bronze_lakehouse_id": {
        "type": "String",
        "variableName": "bronze_lakehouse_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_silver_workspace_id": {
        "type": "String",
        "variableName": "silver_workspace_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_silver_lakehouse_id": {
        "type": "String",
        "variableName": "silver_lakehouse_id",
        "libraryName": "vl_guids"
      },
      "vl_authentication_akv_uri": {
        "type": "String",
        "variableName": "akv_uri",
        "libraryName": "vl_authentication"
      },
      "vl_authentication_tenant_id_secret_name": {
        "type": "String",
        "variableName": "tenant_id_secret_name",
        "libraryName": "vl_authentication"
      },
      "vl_authentication_client_id_secret_name": {
        "type": "String",
        "variableName": "client_id_secret_name",
        "libraryName": "vl_authentication"
      },
      "vl_authentication_client_secret_name": {
        "type": "String",
        "variableName": "client_secret_name",
        "libraryName": "vl_authentication"
      },
      "vl_guids_fabric_pipeline_connection_id": {
        "type": "String",
        "variableName": "fabric_pipeline_connection_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_pl_worker_id": {
        "type": "String",
        "variableName": "pl_worker_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_pl_send_email_id": {
        "type": "String",
        "variableName": "pl_send_email_id",
        "libraryName": "vl_guids"
      },
      "vl_runtime_workspace_name": {
        "type": "String",
        "variableName": "workspace_name",
        "libraryName": "vl_runtime"
      }
    }
  }
}