foundation_framework/pl_controller.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderStoredProcedureName": {
              "value": "[meta].[usp_get_enabled_tasks]",
              "type": "Expression"
            },
            "storedProcedureParameters": {
              "stage": {
                "value": "Extract",
                "type": "String"
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "connectionSettings": {
              "name": "52b0d8b3_0e1e_44d0_9c09_792b69ae0a81",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "@pipeline().libraryVariables.vl_guids_metadata_control_db_id",
                  "workspaceId": "@pipeline().DataFactory"
                },
                "externalReferences": {
                  "connection": "@pipeline().libraryVariables.vl_guids_metadata_control_db_connection_id"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "usp_get_enabled_tasks",
        "description": "Get the enabled tasks from meta.task",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "batchCount": 10,
          "items": {
            "value": "@pipeline().parameters.tasks_to_execute",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "InvokePipeline",
              "typeProperties": {
                "parameters": {
                  "task_id": {
                    "value": "@item().task_id",
                    "type": "Expression"
                  },
                  "source_connection_settings": {
                    "value": "@item().source_connection_settings",
                    "type": "Expression"
                  },
                  "source_settings": {
                    "value": "@item().source_settings",
                    "type": "Expression"
                  },
                  "target_settings": {
                    "value": "@item().target_settings",
                    "type": "Expression"
                  },
                  "template_settings": {
                    "value": "@item().template_settings",
                    "type": "Expression"
                  },
                  "lineage_id": {
                    "value": "@item().lineage_id",
                    "type": "Expression"
                  },
                  "current_watermark_datetime": {
                    "value": "@variables('current_watermark_datetime')",
                    "type": "Expression"
                  },
                  "limit_rows_for_debugging": {
                    "value": "@pipeline().parameters.limit_rows_for_debugging",
                    "type": "Expression"
                  },
                  "session_tag": {
                    "value": "orchestration",
                    "type": "Expression"
                  },
                  "parent_run_id": {
                    "value": "@pipeline().RunId",
                    "type": "Expression"
                  },
                  "task_executions_id": {
                    "value": "@item().task_executions_id",
                    "type": "Expression"
                  },
                  "task_name": {
                    "value": "@item().task_name",
                    "type": "Expression"
                  },
                  "users_to_notify": {
                    "value": "@pipeline().parameters.users_to_notify",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true,
                "workspaceId": {
                  "value": "@pipeline().DataFactory",
                  "type": "Expression"
                },
                "pipelineId": {
                  "value": "@pipeline().libraryVariables.vl_guids_pl_worker_id",
                  "type": "Expression"
                },
                "operationType": "InvokeFabricPipeline"
              },
              "externalReferences": {
                "connection": "@pipeline().libraryVariables.vl_guids_fabric_pipeline_connection_id"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 3,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "pl_worker",
              "description": "Execute the pl_worker pipeline for each task",
              "dependsOn": []
            }
          ]
        },
        "name": "Loop through tasks and call worker pipeline",
        "description": "Given the output of the Lookup, loop through all metadata and execute all Extract stage tasks",
        "dependsOn": [
          {
            "activity": "usp_get_enabled_tasks",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Set current_watermark_datetime",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "current_watermark_datetime",
          "value": {
            "value": "@formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss.fff')",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set current_watermark_datetime",
        "description": "Set current_watermark_datetime with the UTC-now value",
        "dependsOn": []
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@equals(activity('Get bronze tasks to execute').output.count,0)",
            "type": "Expression"
          },
          "ifTrueActivities": [],
          "ifFalseActivities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "234b5b8d-82ce-adee-4cb8-806f1c25a2af",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "bronze_workspace_id": {
                    "value": {
                      "value": "@pipeline().libraryVariables.vl_guids_bronze_workspace_id",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "bronze_lakehouse_id": {
                    "value": {
                      "value": "@pipeline().libraryVariables.vl_guids_bronze_lakehouse_id",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "akv_uri": {
                    "value": {
                      "value": "@pipeline().libraryVariables.vl_authentication_akv_uri",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "tenant_id_secret_name": {
                    "value": {
                      "value": "@pipeline().libraryVariables.vl_authentication_tenant_id_secret_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "client_id_secret_name": {
                    "value": {
                      "value": "@pipeline().libraryVariables.vl_authentication_client_id_secret_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "client_secret_name": {
                    "value": {
                      "value": "@pipeline().libraryVariables.vl_authentication_client_secret_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "server": {
                    "value": {
                      "value": "@pipeline().libraryVariables.vl_guids_metadata_control_db_server",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "database": {
                    "value": {
                      "value": "@pipeline().libraryVariables.vl_guids_metadata_control_db_database",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "parent_run_id": {
                    "value": {
                      "value": "@pipeline().RunId",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "bronze_runs_to_execute": {
                    "value": {
                      "value": "@string(activity('Get bronze tasks to execute').output.value)",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                },
                "sessionTag": "load_to_bronze"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "nb_parallelize_load_to_bronze",
              "description": "Execute the parallelized load_to_bronze notebook",
              "dependsOn": []
            },
            {
              "type": "Lookup",
              "typeProperties": {
                "source": {
                  "type": "FabricSqlDatabaseSource",
                  "sqlReaderStoredProcedureName": "[integration].[usp_generate_html_table_of_failed_runs]",
                  "storedProcedureParameters": {
                    "parent_run_id": {
                      "value": {
                        "value": "@string(activity('nb_parallelize_load_to_bronze').output.result.sessionId)",
                        "type": "Expression"
                      },
                      "type": "String"
                    }
                  },
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00"
                },
                "datasetSettings": {
                  "type": "FabricSqlDatabaseTable",
                  "schema": [],
                  "connectionSettings": {
                    "name": "f3305d3a_7540_4c6e_bbf5_40b737a33580",
                    "properties": {
                      "type": "FabricSqlDatabase",
                      "typeProperties": {
                        "artifactId": "@pipeline().libraryVariables.vl_guids_metadata_control_db_id",
                        "workspaceId": "@pipeline().DataFactory"
                      },
                      "externalReferences": {
                        "connection": "@pipeline().libraryVariables.vl_guids_metadata_control_db_connection_id"
                      },
                      "annotations": []
                    }
                  },
                  "annotations": []
                },
                "firstRowOnly": false
              },
              "policy": {
                "timeout": "0.00:10:00",
                "retry": 3,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Get failed bronze runs",
              "description": "Retrieve the task_ids from the logging table for all nested load_to_bronze activities that failed, for logging",
              "dependsOn": [
                {
                  "activity": "nb_parallelize_load_to_bronze",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            },
            {
              "type": "InvokePipeline",
              "typeProperties": {
                "parameters": {
                  "email_address": {
                    "value": "@pipeline().parameters.users_to_notify",
                    "type": "Expression"
                  },
                  "email_subject": "'Metadata Ingestion Framework: Bronze load failed",
                  "email_body": {
                    "value": "@activity('Get failed bronze runs').output.value[0].html_report",
                    "type": "Expression"
                  },
                  "execution_url": {
                    "value": "@concat(\n    'https://app.powerbi.com/workloads/data-pipeline/monitoring/workspaces/',\n    pipeline().DataFactory,\n    '/pipelines/',\n    pipeline().PipelineName,\n    '/',\n    pipeline().RunId\n)",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true,
                "workspaceId": {
                  "value": "@pipeline().DataFactory",
                  "type": "Expression"
                },
                "pipelineId": {
                  "value": "@pipeline().libraryVariables.vl_guids_pl_send_email_id",
                  "type": "Expression"
                },
                "operationType": "InvokeFabricPipeline"
              },
              "externalReferences": {
                "connection": "@pipeline().libraryVariables.vl_guids_fabric_pipeline_connection_id"
              },
              "policy": {
                "timeout": "0.00:10:00",
                "retry": 3,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "pl_send_email - Bronze failures",
              "description": "Send an email notification to address failures",
              "dependsOn": [
                {
                  "activity": "Get failed bronze runs",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "Check if there are bronze tasks to execute",
        "description": "If there are activities returned by the previous Lookup, begin executing the bronze load activities. Otherwise, do nothing.",
        "dependsOn": [
          {
            "activity": "Get bronze tasks to execute",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderStoredProcedureName": {
              "value": "[integration].[usp_get_files_to_load_to_bronze]",
              "type": "Expression"
            },
            "storedProcedureParameters": {
              "bronze_workspace_id": {
                "value": {
                  "value": "@pipeline().libraryVariables.vl_guids_bronze_workspace_id",
                  "type": "Expression"
                },
                "type": "String"
              },
              "bronze_lakehouse_id": {
                "value": {
                  "value": "@pipeline().libraryVariables.vl_guids_bronze_lakehouse_id",
                  "type": "Expression"
                },
                "type": "String"
              },
              "parent_run_id": {
                "value": {
                  "value": "@pipeline().RunId",
                  "type": "Expression"
                },
                "type": "String"
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "connectionSettings": {
              "name": "34bfd072_5d94_4df1_8c72_f7c378c84061",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "@pipeline().libraryVariables.vl_guids_metadata_control_db_id",
                  "workspaceId": "@pipeline().DataFactory"
                },
                "externalReferences": {
                  "connection": "@pipeline().libraryVariables.vl_guids_metadata_control_db_connection_id"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get bronze tasks to execute",
        "description": "Get bronze tasks to execute",
        "dependsOn": [
          {
            "activity": "Loop through tasks and call worker pipeline",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderStoredProcedureName": {
              "value": "[integration].[usp_get_run_ids_to_load_to_silver]",
              "type": "Expression"
            },
            "storedProcedureParameters": {
              "parent_run_id": {
                "value": {
                  "value": "@pipeline().RunId",
                  "type": "Expression"
                },
                "type": "String"
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "connectionSettings": {
              "name": "69489342_85bd_41c1_888b_3f91dfa4defc",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "@pipeline().libraryVariables.vl_guids_metadata_control_db_id",
                  "workspaceId": "@pipeline().DataFactory"
                },
                "externalReferences": {
                  "connection": "@pipeline().libraryVariables.vl_guids_metadata_control_db_connection_id"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get silver tasks to execute",
        "description": "Get silver tasks to execute based on what tasks are enabled and what metadata exists.",
        "dependsOn": [
          {
            "activity": "Check if there are bronze tasks to execute",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@equals(activity('Get silver tasks to execute').output.count,0)",
            "type": "Expression"
          },
          "ifTrueActivities": [],
          "ifFalseActivities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "0540078e-d8e5-8b3a-496e-1a79f775ba0f",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "silver_workspace_id": {
                    "value": {
                      "value": "@pipeline().libraryVariables.vl_guids_silver_workspace_id",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "silver_lakehouse_id": {
                    "value": {
                      "value": "@pipeline().libraryVariables.vl_guids_silver_lakehouse_id",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "akv_uri": {
                    "value": {
                      "value": "@pipeline().libraryVariables.vl_authentication_akv_uri",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "tenant_id_secret_name": {
                    "value": {
                      "value": "@pipeline().libraryVariables.vl_authentication_tenant_id_secret_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "client_id_secret_name": {
                    "value": {
                      "value": "@pipeline().libraryVariables.vl_authentication_client_id_secret_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "client_secret_name": {
                    "value": {
                      "value": "@pipeline().libraryVariables.vl_authentication_client_secret_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "server": {
                    "value": {
                      "value": "@pipeline().libraryVariables.vl_guids_metadata_control_db_server",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "database": {
                    "value": {
                      "value": "@pipeline().libraryVariables.vl_guids_metadata_control_db_database",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "parent_run_id": {
                    "value": {
                      "value": "@pipeline().RunId",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "silver_runs_to_execute": {
                    "value": {
                      "value": "@string(activity('Get silver tasks to execute').output.value)",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                },
                "sessionTag": "load_to_silver"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "nb_parallelize_load_to_silver",
              "description": "Execute the parallelized load_to_silver notebook",
              "dependsOn": []
            },
            {
              "type": "Lookup",
              "typeProperties": {
                "source": {
                  "type": "FabricSqlDatabaseSource",
                  "sqlReaderStoredProcedureName": "[integration].[usp_generate_html_table_of_failed_runs]",
                  "storedProcedureParameters": {
                    "parent_run_id": {
                      "value": {
                        "value": "@string(activity('nb_parallelize_load_to_silver').output.result.sessionId)",
                        "type": "Expression"
                      },
                      "type": "String"
                    }
                  },
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00"
                },
                "datasetSettings": {
                  "type": "FabricSqlDatabaseTable",
                  "schema": [],
                  "connectionSettings": {
                    "name": "cc8f930f_fcac_408b_9381_cbd274a48364",
                    "properties": {
                      "type": "FabricSqlDatabase",
                      "typeProperties": {
                        "artifactId": "@pipeline().libraryVariables.vl_guids_metadata_control_db_id",
                        "workspaceId": "@pipeline().DataFactory"
                      },
                      "externalReferences": {
                        "connection": "@pipeline().libraryVariables.vl_guids_metadata_control_db_connection_id"
                      },
                      "annotations": []
                    }
                  },
                  "annotations": []
                },
                "firstRowOnly": false
              },
              "policy": {
                "timeout": "0.00:10:00",
                "retry": 3,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Get failed silver runs",
              "description": "Retrieve the task_ids from the logging table for all nested load_to_silver activities that failed, for logging",
              "dependsOn": [
                {
                  "activity": "nb_parallelize_load_to_silver",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            },
            {
              "type": "InvokePipeline",
              "typeProperties": {
                "parameters": {
                  "email_address": {
                    "value": "@pipeline().parameters.users_to_notify",
                    "type": "Expression"
                  },
                  "email_subject": "'Metadata Ingestion Framework: Silver load failed",
                  "email_body": {
                    "value": "@activity('Get failed silver runs').output.value[0].html_report",
                    "type": "Expression"
                  },
                  "execution_url": {
                    "value": "@concat(\n    'https://app.powerbi.com/workloads/data-pipeline/monitoring/workspaces/',\n    pipeline().DataFactory,\n    '/pipelines/',\n    pipeline().PipelineName,\n    '/',\n    pipeline().RunId\n)",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true,
                "workspaceId": {
                  "value": "@pipeline().DataFactory",
                  "type": "Expression"
                },
                "pipelineId": {
                  "value": "@pipeline().libraryVariables.vl_guids_pl_send_email_id",
                  "type": "Expression"
                },
                "operationType": "InvokeFabricPipeline"
              },
              "externalReferences": {
                "connection": "@pipeline().libraryVariables.vl_guids_fabric_pipeline_connection_id"
              },
              "policy": {
                "timeout": "0.00:10:00",
                "retry": 3,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "pl_send_email - Silver failures",
              "description": "Send an email notification to address failures",
              "dependsOn": [
                {
                  "activity": "Get failed silver runs",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "Check if there are silver tasks to execute",
        "description": "If there are activities returned by the previous Lookup, begin executing the silver load activities. Otherwise, do nothing.",
        "dependsOn": [
          {
            "activity": "Get silver tasks to execute",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "InvokePipeline",
        "typeProperties": {
          "parameters": {
            "email_address": {
              "value": "@pipeline().parameters.users_to_notify",
              "type": "Expression"
            },
            "email_subject": "'Metadata Ingestion Framework: The metadata extraction process completed successfully.",
            "email_body": "Click the URL below to see execution details:",
            "execution_url": {
              "value": "@concat(\n    'https://app.powerbi.com/workloads/data-pipeline/monitoring/workspaces/',\n    pipeline().DataFactory,\n    '/pipelines/',\n    pipeline().PipelineName,\n    '/',\n    pipeline().RunId\n)",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true,
          "workspaceId": {
            "value": "@pipeline().DataFactory",
            "type": "Expression"
          },
          "pipelineId": {
            "value": "@pipeline().libraryVariables.vl_guids_pl_send_email_id",
            "type": "Expression"
          },
          "operationType": "InvokeFabricPipeline"
        },
        "externalReferences": {
          "connection": "@pipeline().libraryVariables.vl_guids_fabric_pipeline_connection_id"
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "pl_send_email - Completion",
        "description": "Send an email notification to notify of success",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Check if there are silver tasks to execute",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "stage": {
        "type": "string"
      },
      "limit_rows_for_debugging": {
        "type": "bool",
        "defaultValue": false
      },
      "users_to_notify": {
        "type": "string",
        "defaultValue": ""
      },
      "tasks_to_execute": {
        "type": "array"
      }
    },
    "libraryVariables": {
      "vl_guids_metadata_control_db_database": {
        "type": "String",
        "variableName": "metadata_control_db_database",
        "libraryName": "vl_guids"
      },
      "vl_guids_metadata_control_db_server": {
        "type": "String",
        "variableName": "metadata_control_db_server",
        "libraryName": "vl_guids"
      },
      "vl_guids_metadata_control_db_id": {
        "type": "String",
        "variableName": "metadata_control_db_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_bronze_workspace_id": {
        "type": "String",
        "variableName": "bronze_workspace_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_metadata_control_db_connection_id": {
        "type": "String",
        "variableName": "metadata_control_db_connection_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_fabric_sql_database_connection_id": {
        "type": "String",
        "variableName": "fabric_sql_database_connection_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_bronze_lakehouse_id": {
        "type": "String",
        "variableName": "bronze_lakehouse_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_silver_workspace_id": {
        "type": "String",
        "variableName": "silver_workspace_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_silver_lakehouse_id": {
        "type": "String",
        "variableName": "silver_lakehouse_id",
        "libraryName": "vl_guids"
      },
      "vl_authentication_akv_uri": {
        "type": "String",
        "variableName": "akv_uri",
        "libraryName": "vl_authentication"
      },
      "vl_authentication_tenant_id_secret_name": {
        "type": "String",
        "variableName": "tenant_id_secret_name",
        "libraryName": "vl_authentication"
      },
      "vl_authentication_client_id_secret_name": {
        "type": "String",
        "variableName": "client_id_secret_name",
        "libraryName": "vl_authentication"
      },
      "vl_authentication_client_secret_name": {
        "type": "String",
        "variableName": "client_secret_name",
        "libraryName": "vl_authentication"
      },
      "vl_guids_fabric_pipeline_connection_id": {
        "type": "String",
        "variableName": "fabric_pipeline_connection_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_pl_worker_id": {
        "type": "String",
        "variableName": "pl_worker_id",
        "libraryName": "vl_guids"
      },
      "vl_guids_pl_send_email_id": {
        "type": "String",
        "variableName": "pl_send_email_id",
        "libraryName": "vl_guids"
      }
    },
    "variables": {
      "current_watermark_datetime": {
        "type": "String"
      }
    }
  }
}
